body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.container {
  border: 4px solid #5f6264;
  border-radius: 20px;
  padding: 10px;
  max-width: 80%;
  padding-left: 20px;
}
h1,
h2,
h3,
h4,
p {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Raleway", sans-serif;
}

.temperature {
  display: inline;
}

.signature {
  position: relative;
  top: 50px;
  font-size: small;
}
ul {
  margin: 25px 0 10px;
  padding: 5px;
}
li {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Raleway", sans-serif;
  height: 15px;
  list-style: none;
  margin: 8px 0;
  font-size: 17px;
}
.weather-forecast {
  text-align: center;
  color: #5f6264;
}
.temperature-forecast-max {
  font-weight: bolder;
}
.search-bar {
  padding: 10px;
}
#current-city {
  position: relative;
  left: 8px;
}
#current-city-temperature {
  position: relative;
  left: 8px;
}
